$main-background-color: #fff;
$white-additional-color: #fff;
$additional-background-color: #f5f4fa;
$title-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$logo-color: #000;
$hero-footer-color: #2f303a;
$mailtel-logo-footer: rgba(255, 255, 255, 0.6);
$grey-svg-color: #afb1b8;
$portfolio-border-color: #eeeeee;
